doctype html
html
  head
    meta(charset='utf-8')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    style(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.4.0/css/pikaday.min.css').
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js')
    script(src='http://balupton.github.com/jquery-syntaxhighlighter/scripts/jquery.syntaxhighlighter.min.js')
    title ermes-scout
    link(href='/static/css/app.4e3d3d346fe0c9edbc026d10047e4bbc.css', rel='stylesheet')
  body
    app
    script.
      $.SyntaxHighlighter.init();
    script(type='text/javascript', src='/static/js/manifest.31005e54bda599989113.js')
    script(type='text/javascript', src='/static/js/vendor.03aa6fc927ae5145b581.js')
    script(type='text/javascript', src='/static/js/app.7b66264b2a7c5c46a54b.js')
